# user data
[Dd]ownload/
[Dd]ata/
[Bb]uild/
bin/
include/
*.dll
*.lib
*.exe
[Bb]uild_[Dd]ebug/


# cmake
CMakeCache.txt
CMakeFiles/

# visual studio
*.vcxproj
*.filters
*.cmake
*.sln
.vs/
[Dd]ebug/
*.dir/
x64/
*.user